@import url('../../styles/variables.css');

.contact-section {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  word-break: keep-all;
  background: var(--color-surface);
  border-radius: var(--border-radius-lg);
  padding:var(--spacing-xl);
}

.contact-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-xl)
}

.contact-card {
  background: #fff;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
  padding: var(--spacing-sm) var(--spacing-xl);
  min-height: 200px;
}

.contact-card-title {
  color: var(--color-primary);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-xl);
}

.contact-card-text {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-2xl);
}

.contact-card-text-call {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-4xl);
}


.contact-card-text a {
  color: inherit;
  text-decoration: none;
}

.contact-card-text a:hover {
  text-decoration: underline;
}

.contact-card-text-call a {
  color: inherit;
  text-decoration: none;
}

.contact-card-text-call a:hover {
  text-decoration: underline;
}

.contact-card-sub {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}


.contact-section-title {
  font-size: var(--font-size-3xl) !important;
  font-weight: var(--font-weight-bold);
  text-align: left;
  margin: 0;
}



@media (max-width: 1024px) {
  .contact-card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding: var(--spacing-xl) var(--container-padding);
  }
  .contact-card-grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
  }
}


